<!-- <p>cliente works!</p> -->
<form (ngSubmit)="save()" action="">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Nome</label>
        <input type="text" id="nome" class="form-control" required [(ngModel)]="cliente.nome" name="nome"
          #nome="ngModel" placeholder="Nome Completo">
      </div>
      <div class="col">
        <label>Cidade</label>
        <input type="text" id="cidade" class="form-control" required [(ngModel)]="cliente.cidade" name="nome"
          #nome="ngModel" placeholder="Cidade">
      </div>
      <div class="col">
        <label>Estado</label>
        <input type="text" id="estado" class="form-control" required [(ngModel)]="cliente.estado" name="nome"
          #nome="ngModel" placeholder="Estado">
      </div>
      <div class="col">
        <label>País</label>
        <input type="text" id="pais" class="form-control" required [(ngModel)]="cliente.pais" name="nome"
          #nome="ngModel" placeholder="País">
      </div>

      <div class="col">
        <label>Funcionários</label>
        <input type="text" id="quantidadeFuncionarios" class="form-control" required placeholder="Quantidade"
          [(ngModel)]="cliente.quantidadeFuncionarios" name="quantidadeFuncionarios" #quantidadeFuncionarios="ngModel">
      </div>
    </div>

    <!-- <app-dropdown [cliente]="cliente"></app-dropdown> -->

    <button type="submit" [disabled]="nome.invalid" class="btn btn-light">
      <fa-icon [icon]="faSave"></fa-icon> Salvar Cliente
    </button>

  </div>
</form>
